.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.article-container .row{
     margin-bottom: 50px;;
}
.article-container img{
     margin-bottom: 50px;;
}
 .article-container h2{
     font-size: 23px;;
      font-weight: bolder;
       margin-bottom: 10px;;
 }
 .article-container p{
     font-size: 18px;;
     line-height: 1.5;
      margin-bottom: 20px;;
 }
 .article-container .auther-detail{
     display: flex;
     align-items: center;
 }
  .article-container .auther-detail p{
     margin-right: 10px;;
     font-size: 14px;;
     font-style: italic;
  }
  .article-container details{
    margin-top: 20px;;
    color: #007bff;
    cursor: pointer;
  }
  .article-header-page{
     margin-top: 50px;;
     margin-bottom: 50px;
  
  }