.charity-donation{
     text-align: center;
     margin-top: 60px;;
}
.donate{
text-align: center;
}
.donate-react-right{
    text-align: center;  
}
.donate-react-right button {
      padding: 23px;
      color: white;
      margin: 23px;;
}